body{
    margin:0;
    padding:0;
    height: 400vh;
    font-family: barlow;
}
.main-hero-container{
    background-image: url(hero_image.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.main-header{
    display: flex;
}
.logo{ 
    margin: 1.5rem;
    width:90px;
    height: 90px;

}
.nav-menu{
    height: 30px;
    display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 3rem;
   
   
}
.primary-navigation{
    display: flex;
    gap:  2em;
    justify-content: space-between;
    
}
.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.50em;
    color: white;
}
a, .active{
    list-style: none;
    text-decoration: none;
    color: white;
}
.mobile-nav-toggle{
    display: none;
}
/* @media ( max-width: 35em) {

    .flex{padding: 0;
       padding-top: 6em;
       padding-bottom: 12em;
       padding-left: 4em;
        position: fixed;
        /* inset:  0 0 0 30%; */
        /* align-items: center;
        flex-direction: column;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        align-items: flex-start;
        font-size: 22px;
        font-family: barlow;
        z-index: 1000; */
        /* transform: translateX(50%);
        display: none; */
    /* } */
    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        background-image:url("new-menu.png");
        width: 50px;
        aspect-ratio: 1;
        background-color:transparent;
        top: 2rem;
        right: 2rem;
        display: block;
        border: none;
        cursor: pointer;
        display: none;

    } */
    .mobile-first-para{
        display: flex;
    justify-items: center;
    }
    .landing-page-box{
        width: 330px;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        color: white;

    }
    .front-bottom-box{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
h3{
 font-size:24px;
}


/* } */
