body{
    margin:0;
    padding:0;
    height: 400vh;
    font-family: barlow;
}
.main-hero-container{
    background-image: url(hero_image.jpeg);
    background-size: cover;
    height: 120vh;
    display: flex;
   
    flex-direction: column;
    align-items: center;

}
.main-header{
    display: flex;
    
}
.logo{ 
    margin: 1.5rem;
    width:90px;
    height: 90px;
    

}
.nav-menu{
    height: 30px;
    display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 3rem;
   
   
   
}
.primary-navigation{
    display: flex;
    gap:  2em;
    justify-content: space-between;
    display: none;
    
}
.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.50em;
    color: white;
}
a, .active{
    list-style: none;
    text-decoration: none;
    color: white;
}
.mobile-nav-toggle{
    display: none;
}
/* @media ( max-width: 35em) {

    .flex{padding: 0;
       padding-top: 6em;
       padding-bottom: 12em;
       padding-left: 4em;
        position: fixed;
        /* inset:  0 0 0 30%; */
        /* align-items: center;
        flex-direction: column;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        align-items: flex-start;
        font-size: 22px;
        font-family: barlow;
        z-index: 1000; */
        /* transform: translateX(50%);
        display: none; */
    /* } */
    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        background-image:url("new-menu.png");
        width: 50px;
        aspect-ratio: 1;
        background-color:transparent;
        top: 2rem;
        right: 2rem;
        display: block;
        border: none;
        cursor: pointer;
        display: none;

    } */
    .mobile-first-para{
        display: flex;
    justify-items: center;
    width: 330px;
        height: 480px;
    }
    .landing-page-box{
        width: 330px;
        height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        color: white;
       margin-top: 2em;

    }
    .front-bottom-box{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8em;
        
    }
h3{
    width:440px;
 font-size:32px;
 line-height: 25px;
letter-spacing: 1px; 
font-weight: 400;
margin-bottom: 0;

}
h4 { 
    width:300px;
    height: 150px;
    line-height: 25px;
    text-align: center;
    font-size:18px;
    font-family: barlow;
    font-weight: 400;
    
    

}
.space-front{
    font-size:100px;
    font-family: bellefair;
    font-weight: 100;
    margin-bottom: 15px;
    
}
h5 {
    font-family: bellefair;
    font-weight: lighter;
    line-height: 24px;
    font-size: 20px;
}
.moon-container, .mars-container, .titan-container, .europa-container{
    height: 150vh;
    width:100%;
    background-image: url("second-page-space.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color:white;
    text-align: center;  
}
h6{
    padding-top: 50px;
    font-size:18px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: barlow;
    
}
.first-planet{
    width: 225px;
    height: 225px;
    

}
.moon-list-box{
    gap:2em;
    font-size: 20px;
    font-weight: 200;
    font-family: barlow;
    display: flex;
    justify-content: center;
    margin-top: 45px;
   padding-bottom: 25px;
}
.moon-list{
    cursor: pointer;

}
.moon-list:hover{
    border-bottom: 3px solid white;
    transition: ease-in-out .2s;
}
.rep{
    margin-inline-end: 1em;
    color: grey;

}
h2{margin-top: 0;
    padding-top: 10px;
    font-size: 64px;
    font-weight: lighter;
    
    font-family: bellefair;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding-bottom: 25px;
    

}
hr{
    width: 90%;
    height: 1px;
    color: #383B4B;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #383B4B;
   
}
.bottom-facts-box-1{
    padding-bottom: 20px;
}

.bottom-facts-box-1, .bottom-facts-box-2{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 20px;
    
}

.travel-time{
    font-size:22px;
    font-weight: 400;
    font-family: barlow ;
    line-height: 16px;
    letter-spacing: 2px;

}
.number-total{
    font-size:30px;
    line-height: 32px;
    font-family: bellefair;
    font-weight: 400;
}
.main-pilot-container{
    background-image:url("second-background.jpeg");
    height: 150vh;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color:white;
    text-align: center;  

}
.accent-list-box{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top:10px;
    padding-bottom: 20px;
}
.accent-dot{
    width:10px;
    height: 10px;
    background-color:#979797;
    border-radius: 50%;
    cursor: pointer;
}
.accent-dot:hover{
    background-color:white;
}
.second-accent{
    padding-top:0;
    margin-top:0;
    transform: translateY(-4px);
}


/* } */
